header {
	background-color: gray;
	font-size: 48px;
	height: 75px;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 999;
}

a {
	color: #883ced;
}
a:hover {
	color: #af4cf0;
	cursor: pointer;
}

body { 
	margin: 0px 0px 40px 0px; 
}

table {
	width: 100%;
}

table, td, th {
  border: 1px solid #808080;
  border-collapse: collapse;
}

/* Form styling when using FuelPHP fieldsets */
table.form {
	border: none;
	width: auto;
}

td.form, th.form {
	border: none;
	font-family: sans-serif;
	font-size: 14px;
}
/* end Fieldsets */

th {
	background: #000000;
	color: #FFFFFF;
	font-size: 12px;
	padding: 3px;
}

#codelist tbody tr,
#exchangelist tbody tr td[id*='r-ex-'] {
	cursor: pointer;
}

.h5[id*='about-'] {
	cursor: pointer;
}

td {
	font-family: "Lucia Console", monospace;
	font-size: 12px;
	padding: 3px;
}

td a { 
	display: block; width: 100%; height: 100%; 
}

.variable {
	font-family: sans-serif;
	font-size: 14px;
}

.font12 {
	font-size: 12px;
}

.odd {
	background-color: #DDDDDD;
}

.even {
	background-color: #EEEEEE;
}

.resized {
	margin-left: 7%;
	margin-right: 7%;
}

.content {
	margin-top: 10px;
}

.para {
	margin-top: 25px;
}

.fullwidth {
	width: 85%;
}

.selected tr{
	background-color: #EEDDCC !important;
}

.row_selected tr{
	background-color: #EEDDCC !important;
}

.errormessage {
	padding-top:20px;
	font-size: 16px;
	color:#ff0000;
	font-weight: bold;
}

div.dt-container {
    margin-bottom: 1em;
}

.nostyle {
	color: #333333;
	text-decoration: none;
}

.nostyle:hover {
	color: #333333;
	text-decoration: none;
	cursor:pointer;
}

.tt {
	font-family: "Lucia Console", monospace;
}

.geosearchresults {
	margin-top: 30px;
}

.formcontainer {
	margin-bottom: 25px;
}

.formelement {
	float: left; 
	display: inline;
	padding-right: 5px;
}

.italic {
	font-style: italic;
}

/* Datatables padding for the "entries per page */
label[for*='dt-length-'] {
	padding-left: 5px;
}

#menu-header {
	cursor:pointer;
}

#menu-header-dropdown {
	background:gray;
	text-align:center;
	font-size:16px;
	position: absolute;
	right:9%;
	top:75px;
	display:none;
}

.menu-item {
	color:black;
	padding:5px;
	display:block;
}

.menu-item a {
	color:black;
	text-decoration:none;
}

.menu-item:hover {
	color:black;
	text-decoration:none;
	cursor:pointer;
	background-color:lightgray;
}

.menu-link {
	color:black;
}

.bold {
	font-weight: bold;
}