#-----------------------------#
# "Home" location information #
#-----------------------------#
HOME_TZ=Europe/London
HOME_IP=
HOME_LOC=

#--------------------------#
# Phonecode DB information #
#--------------------------#
PHONECODE_DB_HOST=
PHONECODE_DB_PORT=
PHONECODE_DB_NAME= 
PHONECODE_DB_USER=
PHONECODE_DB_PSWD=

#-------------------------#
# Weather API information #
#-------------------------#
WEATHER_API_URL=
WEATHER_API_KEY=

#-------------------------#
# Geocode API information #
#-------------------------#
GEOCODE_API_URL=